<!DOCTYPE html>
<html lang="en" data-theme="light">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta http-equi="X-UA-Compatable" content="ie=edge"/>
        <link href="https://cdn.jsdelivr.net/npm/daisyui@4.10.2/dist/full.min.css" rel="stylesheet" type="text/css" />
        <script src="https://cdn.tailwindcss.com"></script>
        <title>LowerDec</title>
    </head>
    <body>
        <div class="min-h-screen flex flex-col place-items-center bg-base-200">
            <div class="m-8 grid card bg-base-300 rounded-box place-items-center">
                <div class="max-w-md text-center">
                    <h2 class="text-3xl font-bold">Fast</h2>
                    <p class="py-6">You've never obtained an insurance esitmate this quickly before.</p>
                </div>
            </div>
            <div class="m-8 grid card bg-base-100 rounded-box place-items-center">
                <div class="max-w-md text-center">
                    <h2 class="text-3xl font-bold">Easy</h2>
                    <p class="py-6">Just a few questions and you will have all the information you need.</p>
                </div>
            </div>
        </div>
    </body>
</html>
