<!DOCTYPE html>
<html lang="en" data-theme="light">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta http-equi="X-UA-Compatable" content="ie=edge"/>
        <link href="https://cdn.jsdelivr.net/npm/daisyui@4.10.2/dist/full.min.css" rel="stylesheet" type="text/css" />
        <script src="https://cdn.tailwindcss.com"></script>
        <title>LowerDec</title>
    </head>
    <body>
        <nav class="navbar sticky top-0 bg-base-200">
            <div class="container mx-auto">
                <div class="flex-1">
                    <a href="/">
                        <span class="text-bold">Lowerdec</span>
                    </a>
                </div>
                <div class="flex-none">
                    <ul class="menu menu-horizontal items-center px-1">
                        <li><a>Login</a></li>
                        <li><a href="/start" class="btn btn-primary">Get started</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <section class="relative pt-28 pb-52 md:pb-40 bg-base-200">
            <div class="container text-center text-lg-left mx-auto">
                <div class="grid-cols-1">
                    <div class="max-x-auto text-center">
                        <h1 class="text-5xl font-bold">Get quotes.<br>Not cold calls.</h1>
                        <p class="py-6">LowerDec puts you in control of shopping for insurance. Only get quotes that can beat your current policy.</p>
                        <a href="/start" class="btn btn-primary">Get started</a>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
