<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta http-equiv="X-UA-Compatable" content="ie=edge"/>
        <link rel="icon" type="image/x-icon" href="/static/assets/favicon.ico">
        <link href="/static/css/output.css" rel="stylesheet"/>
        <title>LowerDec</title>
    </head>
    <body class="bg-gray-100">
        <header class="bg-gray-900 sm:flex sm:justify-between sm:items-center sm:px-4 sm:py-3">
            <div class="flex items-center justify-between px-4 py-3 sm:p-0">
                <div>
                    <img class="h-6" src="/static/assets/logo-light.svg" alt="LowerDec"/>
                </div>
                <div class="sm:hidden">
                    <button id="hamburger" type="button" class="block text-gray-500 hover:text-white focus:text-white focus:outline-none">
                        <svg class="h-6 w-6 fill-current" viewBox="0 0 80 80">
                            <rect width="80" height="10"></rect>
                            <rect y="30" width="80" height="10"></rect>
                            <rect y="60" width="80" height="10"></rect>
                        </svg>
                    </button>
                </div>
            </div>
            <nav id="nav-menu" class="hidden px-2 pt-2 pb-4 sm:flex">
                <a href="#" class="block px-2 py-1 text-white font-semibold rounded hover:bg-gray-800">Login</a>
                <a href="#" class="mt-1 block px-2 py-1 text-white font-semibold rounded hover:bg-gray-800 sm:mt-0 sm:ml-2">About</a>
                <a href="#" class="mt-1 block px-2 py-1 text-white font-semibold rounded hover:bg-gray-800 sm:mt-0 sm:ml-2">Help</a>
            </nav>
        </header>
        <section class="p-8">
            <h1 class="text-center text-2xl font-bold text-gray-900 leading-tight">Don't Just Compare, Connect.</h1>
            <p class="text-center mt-4 text-gray-600">Let a real person help you find the insurance policy you need.</p>
            <div class="mt-4 flex justify-center">
                <a href="/start" class="inline-block bg-gray-400 px-5 py-3 rounded-lg shadow-lg text-white text-sm uppercase tracking-wider font-semibold" >Get started</a>
            </div>
        </section>
        <section class="relative px-8 pt-28 pb-52 md:pb-40 bg-gray-200">
            <div class="container text-center text-lg-left mx-auto">
                <div class="grid-cols-1">
                    <div class="max-x-auto text-center">
                        <h1 class="text-5xl font-bold">Insurance shopping for the 21st century </h1>
                        <p class="text-2xl py-6">LowerDec puts <strong>you</strong> in the driver's seat. We believe that shopping for insurance can be fun. With LowerDec, the process is</p>
                        <div class="flex flex-col sm:flex-row justify-between space-y-8 sm:space-x-8 sm:space-y-0 py-6">
                            <div class="card bg-base-100 shadow-xl basis-1/3">
                                <div class="card-body items-center text-center">
                                    <h2 class="card-title text-2xl">Fast</h2>
                                    <p class="text-xl my-6">You've never obtained an insurance estimate this quickly before.</p>
                                </div>
                            </div>
                            <div class="card bg-base-100 shadow-xl basis-1/3">
                                <div class="card-body items-center text-center">
                                    <h2 class="card-title text-2xl">Easy</h2>
                                    <p class="text-xl my-6">Just a few questions and we'll have all the information we need.</p>
                                </div>
                            </div>
                            <div class="card bg-base-100 shadow-xl basis-1/3">
                                <div class="card-body items-center text-center">
                                    <h2 class="card-title text-2xl">Private</h2>
                                    <p class="text-xl my-6">We don't give out your contact information until you're ready to make a deal.</p>
                                </div>
                            </div>
                        </div>
                        <a href="/start" class="btn btn-primary w-80 text-xl">Get started</a>
                    </div>
                </div>
            </div>
        </section>
        <footer class="footer footer-center p-4 bg-gray-300 text-base-content">
          <aside>
            <p>LowerDec, LLC</p>
          </aside>
        </footer>
        <script>
            const hamburgerButton = document.getElementById("hamburger");
            const navMenu = document.getElementById("nav-menu");

            function toggleHamburger() {
                navMenu.classList.toggle("hidden");
            }

            hamburgerButton.addEventListener("click", toggleHamburger);
        </script>
    </body>
</html>
