<!DOCTYPE html>
<html lange="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta http-equi="X-UA-Compatable" content="ie=edge"/>
        <link href="/static/style.css" rel="stylesheet"/>
        <title>LowerDec</title>
    </head>
    <body class="landing-body">
        <div class="landing-container">
            <header class="landing-header">
                <div class="landing-header-title">
                    <h1>LowerDec</h1>
                </div>
                <div class="landing-header-subtitle-container">
                    <div>
                        <h2>Insurance quotes at your fingertips<h2>
                    </div>
                    <div>
                        <div>
                            <p>Get Started</p>
                        </div>
                    </div>
                </div>
            </header>
        </div>
    </body>
</html>
