<!DOCTYPE html>
<html lang="en" data-theme="light">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta http-equi="X-UA-Compatable" content="ie=edge"/>
        <link href="https://cdn.jsdelivr.net/npm/daisyui@4.10.2/dist/full.min.css" rel="stylesheet" type="text/css" />
        <link rel="icon" type="image/x-icon" href="/static/assets/favicon.ico">
        <script src="https://cdn.tailwindcss.com"></script>
        <title>LowerDec</title>
    </head>
    <body>
        <div class="hero min-h-screen bg-base-200">
            <div class="hero-content flex-col text-center">
                {{if .Success }}
                    <div class="max-w-md">
                        <h2 class="text-3xl font-bold">You're in</h2>
                        <p class="card-body text-2xl">We'll let you know when LowerDec is ready to start saving you money</p>
                    </div>
                {{else}}
                    <h2 class="text-5xl font-bold my-16">Get in loser, we're going insurance shopping</h2>
                    <div class="max-w-md">
                        <h2 class="text-3xl font-bold">LowerDec is launching soon</h2>
                        <p class="py-6 text-2xl">Flip the script on shopping for insurance. Only get quotes that beat your current policy, ditch the awkward phone calls, and keep your contact information private.</p>
                        <p class="card-body text-2xl">Get notified when it's time to start saving</p>
                    </div>
                    <div class="card shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
                        <form class="card-body" method="post">
                            <div class="form-control">
                              <label class="label">
                                <span class="label-text">Full name</span>
                              </label>
                              <input name="name" type="text" placeholder="full name" class="input input-bordered" required />
                            </div>
                            <div class="form-control">
                              <label class="label">
                                <span class="label-text">Email</span>
                              </label>
                              <input name="email" type="email" placeholder="email" class="input input-bordered" required />
                            </div>
                            <div class="form-control mt-6">
                                <button class="btn btn-primary">Get notified</button>
                            </div>
                        </form>
                    </div>
                {{end}}
            </div>
        </div>
    </body>
</html>
