<!DOCTYPE html>
<html lang="en" data-theme="light">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta http-equiv="X-UA-Compatable" content="ie=edge"/>
        <link href="https://cdn.jsdelivr.net/npm/daisyui@4.10.2/dist/full.min.css" rel="stylesheet" type="text/css" />
        <link rel="icon" type="image/x-icon" href="/static/assets/favicon.ico">
        <script src="https://cdn.tailwindcss.com"></script>
        <title>LowerDec</title>
    </head>
    <body>
        <div class="hero min-h-screen bg-base-200">
            <div class="hero-content flex-col text-center">
                {{if .Success }}
                    <div class="max-w-md">
                        <h2 class="text-3xl font-bold">Boom!</h2>
                        <p class="card-body text-2xl">Here's the info we go from your dec page. Check it over to see if it's right.</p>
                        <div class="card shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
                            <p>Name</p>
                        </div>
                        <div class="card shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
                            <p>Current Address</p>
                        </div>
                        <div class="card shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
                            <p>Coverage Details</p>
                        </div>
                    </div>
                {{else}}
                    <h2 class="text-5xl font-bold my-16">Get in loser, we're going insurance shopping</h2>
                    <div class="max-w-md">
                        <h2 class="text-3xl font-bold">Drop your dec page below to get started</h2>
                    </div>
                    <div class="card shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
                        <form class="card-body" method="post" enctype="multipart/form-data">
                            <div class="form-control">
                              <label class="label">
                                <span class="label-text">Dec Page</span>
                              </label>
                              <input name="dec" type="file" placeholder="Dec page" class="input" required />
                            </div>
                            <div class="form-control mt-6">
                                <button class="btn btn-primary">Upload</button>
                            </div>
                        </form>
                    </div>
                {{end}}
            </div>
        </div>
    </body>
</html>
